#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [2]:
# write your code here
data=[10,20,20,30,40,40]
s=set(data)
print(s)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [4]:
# write your code here
s={1,2,3,3,2}
print(s) #bcoz set take a only unique numbers

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [5]:
# write your code here
s=set()
for i in range(1,6):
    s.add(i)
print(s)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [6]:
# write your code here
s=set()
s.add(10)
print(s)

{10}

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [7]:
# write your code here
A={2,4,6,8}
B={4,8,12}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))

{2, 4, 6, 8, 12}
{8, 4}
{2, 6}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [8]:
# write your code here
s={5,10,15,20}
if 15 in s:
    print("15 exists")
else:
   print("not")

15 exists

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [10]:
# write your code here
s={10,20,30,40}
s.discard(30)
print(s)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [11]:
# write your code here
nums=[1,2,2,3,4,4,5]
s=set(nums)
print(len(s))

5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [12]:
# write your code here
s={10,20,30}
s.add(20)
print(len(s))

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [13]:
# write your code here
s={1,2,[3,4]}
print(s) #set is not contain a list bcoz set is immutable

TypeError: unhashable type: 'list'

### Q11
Convert {100, 200, 300} into list and print first element.

In [14]:
# write your code here
s={100,200,300}
l=list(s)
print(l[0])

200

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [15]:
# write your code here
class_A={'Aman','Riya','Karan','Neha'}
class_B={'Neha','Simran','Aman'}
print(class_A.union(class_B))
print(class_A.intersection(class_B))

{'Karan', 'Neha', 'Simran', 'Aman', 'Riya'}
{'Neha', 'Aman'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [16]:
# write your code here
text='programming'
s=set(text)
print(s)

{'r', 'a', 'n', 'p', 'o', 'g', 'i', 'm'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [17]:
# write your code here
sentence='python is easy and python is powerful'
s=set(sentence.split())
print(s)

{'python', 'powerful', 'and', 'is', 'easy'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [18]:
# write your code here
s=set('hello')
print(s)

{'h', 'o', 'e', 'l'}