# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
tup1=(1,2,3,4,5)
print(tup1)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
# write your answer here
tup1=(5,2.5,"hello",True)
for i in tup1:
  print(i)

5
2.5
hello
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [3]:
# write your answer here
students=("modassar","saif","junaid","irfan")
print(len(students))

4

### Question 4
Access and print the last element of a tuple.

In [5]:
# write your answer here
tup1=(1,2,3,4,5)
print(tup1[-1])

5

### Question 5
Check whether an element exists in a tuple or not.

In [6]:
# write your answer here
tup1=(1,2,3,4,5)
print(5 in tup1)

True

### Question 6
Convert a tuple into a list.

In [7]:
# write your answer here
tup1=(1,2,3,4,5)
print(list(tup1))

[1, 2, 3, 4, 5]

### Question 7
Convert a list into a tuple.

In [8]:
# write your answer here
list1=[1,2,3,4,5]
print(tuple(list1))

(1, 2, 3, 4, 5)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [9]:
# write your answer here
tup1=(1,2,3,4,5,1,2,3,4,5)
print(tup1.count(1))

2

### Question 9
Find the index of an element in a tuple.

In [10]:
# write your answer here
tup1=(1,2,3,4,5)
print(tup1.index(3))

2

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [13]:
# write your answer here
tup1=("modassar,saif,junaid,irfan")
tup1[0]="aklakh" #this line be throw and error bcoz cant be changed

TypeError: 'str' object does not support item assignment